<script>
   $(document).ready(function(){

     Dropzone.autoDiscover = false;

     var myDropzone = new Dropzone("#drag-dropzone");
   });
</script>
<div class="container">
  <h3>Drag and Drop your file here!!!!....</h3>
  <div class="row col-md-10">
<form action="#" class="dropzone" id="drag">
  <placeholder=" drop your file here">
</form>
</div>
</div>
