<script>
   $(document).ready(function(){

     Dropzone.autoDiscover = false;

     var myDropzone = new Dropzone("#drag-dropzone");
   });
</script>
<script>
$(document).ready(function(){

   var now = moment();
   var fullyear = now.format('MMMM Do YYYY, h:mm:ss a');
   var day = now.format('dddd');
        $('#result1').text(day);
   $('#result').text(fullyear);

});
</script>
<div class="container">
  <h1><u>Drag and Drop your file here!!!!....</u></h1>
  <div class="row col-md-10">
<form action="#" class="dropzone" id="drag">
  <placeholder=" drop your file here">
</form>
</div>
</div>
<div class="row">
  <h1><u>momentjs</u></h1>
  <h3 id="result"></h3>
  <h3 id="result1"></h3>
</div>
