<script>
   $(document).ready(function(){

     Dropzone.autoDiscover = false;

     var myDropzone = new Dropzone("#drag-dropzone");
   });
</script>
<div class="container">
  <h3>Drag and Drop your file here!!!!....</h3>
  <div class="row col-md-10">
<form action="#" class="dropzone" id="drag">
  <placeholder=" drop your file here">
</form>
</div>
</div>

<div  class="row">
  <h2>AJAX</h2>

  <button type="button" onclick="loadDoc()">Request data</button>

  <p id="demo"></p>


  <script>
  function loadDoc() {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (xhttp.readyState == 4 && xhttp.status == 200) {
        document.getElementById("demo").innerHTML = xhttp.responseText;
      }
    };
    xhttp.open("GET", "demo_get.asp", true);
    xhttp.send();
  }
  </script>

</div>
